
main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.step-nav{
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 1em;
  display: flex;
  justify-content: space-around;
}
.step-nav li a{
  color: black;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
}
.step-nav li a.active{
  text-decoration: underline;
}
svg{
  width: 100%;
  max-width: 520px;
}

path{
  // filter: url(#displacementFilter);

  fill: white;
  stroke-width: 3;
  stroke-linejoin: round;
}
body{
  transition: all .3s;
  background-color: grey;
}
body rect{
  transition: all .5s;
  filter: url(#displacementFilter);
}
body.step-1 rect{
  width: 20%;
}
body.step-2 rect{
  width: 40%;
}
body.step-2{
  background-color: bisque;
}
body.step-3 rect{
  width: 60%;
}
body.step-4 rect{
  width: 80%;
}
body.step-5 rect{
  width: 100%;
}
